.message {
  width: 380px;
  height: 110px;
  background: rgba(236, 244, 251, .85);
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 280px;
  margin: auto;
  z-index: 10;
  text-align: center;
  line-height: 110px;
  color: #666;
  // 第二段动画延迟2.8s之后再播放
  animation: action_scale 0.3s 1, action_scaleOut 0.3s 2.8s 1;
}

// 缩放淡入
@keyframes action_scale {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

// 缩放淡出
@keyframes action_scaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}