.dynamic-header {
  text-align: center;
  height: 100px;
  line-height: 100px;
  width: 100vw;
  background-color: #fff;
  font-size: 36px;
}

.dynamic-header-items {
  display: flex;
  padding: 10px;

  .header-item {
    width: 110px;
    height: 50px;
    background-color: #a2d5f2;
    border-radius: 6px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    color: #fff;
  }
}