.tab {
  font-size: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  box-sizing: border-box;
  background-color: #fff;
 div{
   display: flex;
   flex-direction: column;
   font-size: 14px;
   color: #666;
   text-align: center;
  img{
    width: 60px;

  }
 }
}
