.dynamic {
  margin: 0;
  padding-bottom: 60px;


  &::-webkit-scrollbar {
    display: none;
  }

  .content {
    padding: 100px 0 50px 0;
  }

}

.content::-webkit-scrollbar {
  display: none;
}

.dynamic {
  -ms-overflow-style: none;
}

.dynamic {
  overflow: -moz-scrollbars-none;
}