.search {
  position: relative;
  width: 100vw;
  height: 80px;
  padding-top: 15px;
  background-color: hsl(0, 0%, 96%);

  .box {
    width: 92%;
    height: 40px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #fff;
    padding-left: 10px;

    // 去除默认样式
    input {
      background: none;
      outline: none;
      border: 0px;
      height: 40px;
      width: 90%;
    }

    /* 清除IE10及以上版本input的叉叉（X）和密码输入框的眼睛图标 */
    input::-ms-clear {
      display: none;
    }

    input::-ms-reveal {
      display: none;
    }

    /*清除谷歌浏览器下的 search 叉号 */
    input[type=search]::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    /*清除IE下的 search 叉号 */
    input[type=search]::-ms-clear {
      display: none;
    }
  }

  img {
    position: absolute;
    right: 28px;
    top: 18px;
    width: 34px;
  }
}